---
---
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import "components/fontawesome";
@import "components/header";
@import "components/about";

a{
  color: inherit;
  text-decoration: none;
}

html{
  font-family: sans-serif;
}
