.about{

  .about-footer {
    & > :link, :visited{
      color: inherit;
    }

    .spotify-link{ @include make-contact-link(#2EBD59) };
    .linkedin-link {@include make-contact-link(#0077B5) };
    .lastfm-link {@include make-contact-link(red) };
    .other-link {@include make-contact-link(gray) };


    text-align: center;
    margin-top: 15px;

    & > a {
      text-decoration: none;
      display: inline-block;
      & > i {
        font-size: 2em;
      }
      &:not(:first-child){
        margin-left: 20px;
      }
    }
  }
}
