
.content {
  content: '';
  display: block;
  clear: both;
  padding: $header-height + 20 20% 0 20%;

  @include small-screen{
    padding: 30px 15px 0px 15px;
  }

  margin: 0 auto;
  max-width: 1000px;
  min-width: 300px;
}
