@import "../media-mixin";
.post-overview-header{
  border-left:solid 15px #ffc0cb;
  padding-left: 5px;
}

.post-element{
  padding: 5px;
  &:hover{
    background-color: darken($page-background-color, 3%);
    cursor: pointer;
  }

  .post-title{
    color: $header-color;
    margin-bottom: 0.1em;
  }
  .text-content{
    margin-top: 0;
  }
  .post-date{
    text-align: right;
  }


}
.text-content{
  line-height: 1.65em;
  font-family: "Open Sans",Helvetica,sans-serif;
  font-size: 1.1em;

  @include small-screen{
    line-height: 1.25em;
    font-size: 1.2em;

  }

}
