


.post-element{
  padding: 5px;
  &:hover{
    background-color: darken($page-background-color, 3%);
    cursor: pointer;
  }

  .post-title{
    color: $header-color;
  }
  .post-excerpt{
    margin-top: 0;
  }
  .post-date{
    text-align: right;
  }


}
.text-content{
  line-height: 1.65;
  font-family: "Open Sans",Helvetica,sans-serif;
  font-size: 1.1em;
}
