<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>abrabah</title>
  <meta name="description" content="Personal website">
  <meta name="author" content="Abraham Bah">
  <link rel="stylesheet" href="/style/makeitpretty.css" type="text/css" media="all" />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
  <!--- <script src="js/scripts.js"></script> -->
<header>
  <a href="/">About</a>

</header>

  {{ content }}

</body>




<!--    BBBBBBBBBBBBBBBBB                    hhhhhhh                                                    !-->
<!--    B::::::::::::::::B                   h:::::h                                                    !-->
<!--    B::::::BBBBBB:::::B                  h:::::h                                                    !-->
<!--    BB:::::B     B:::::B                 h:::::h                                                    !-->
<!--    B::::B     B:::::B  aaaaaaaaaaaaa   h::::h hhhhh                                                !-->
<!--    B::::B     B:::::B  a::::::::::::a  h::::hh:::::hhh                             ,@;@,           !-->
<!--    B::::BBBBBB:::::B   aaaaaaaaa:::::a h::::::::::::::hh              ,@;@;@;@;@;@/ )@;@;          !-->
<!--    B:::::::::::::BB             a::::a h:::::::hhh::::::h           ,;@;@;@;@;@;@|_/@' e\          !-->
<!--    B::::BBBBBB:::::B     aaaaaaa:::::a h::::::h   h::::::h         (|@;@:@\@;@;@;@:@(    \         !-->
<!--    B::::B     B:::::B  aa::::::::::::a h:::::h     h:::::h           '@;@;@|@;@;@;@;'`"__'         !-->
<!--    B::::B     B:::::B a::::aaaa::::::a h:::::h     h:::::h            '@;@;/;@;/;@;'               !-->
<!--    B::::B     B:::::Ba::::a    a:::::a h:::::h     h:::::h             ) //   | ||                 !-->
<!--    BB:::::BBBBBB::::::Ba::::a    a:::::a h:::::h     h:::::h           \ \\   | ||                 !-->
<!--    B:::::::::::::::::B a:::::aaaa::::::a h:::::h     h:::::h            \ \\  ) \\  \,//\          !-->
<!--    B::::::::::::::::B   a::::::::::aa:::ah:::::h     h:::::h        /\|  `"`  `"`` |\|\\/\         !-->
<!--    BBBBBBBBBBBBBBBBB     aaaaaaaaaa  aaaahhhhhhh     hhhhhhh        #abrahah#abrabah#abrabah       !-->
</html>
