<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>abrabah</title>
  <meta name="description" content="Personal website">
  <meta name="author" content="Abraham Bah">
  <link rel="stylesheet" href="/style/makeitpretty.css" type="text/css" media="all" />
</head>

<body>
  <!--- <script src="js/scripts.js"></script> -->
<div class="header">
<a href="/" class="header-mini">abrabah</a>
</div>
<article class="content">
  {{ content }}
</article>




<svg class="footer-svg"
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   version="1.1"
   viewbox="0 0 1191 118"
   id="svg2">
  <metadata
     id="metadata336">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <defs
     id="defs334" />
  <g
     transform="translate(7.308807,343.57668)"
     id="g3670">
    <g
       id="layer2" />
    <g
       id="layer5">
      <path
         d="m 1167.2784,-330.25876 8.9445,23.12004 -623.6339,0 z"
         transform="translate(8.0093001,82.381373)"
         id="path4675"
         style="fill:#5b3e83;fill-opacity:1;stroke:none" />
    </g>
    <g
       id="g3736">
      <g
         transform="matrix(0.99989791,-0.01428917,0.01428917,0.99989791,79.021104,42.830954)"
         id="g3804">
        <path
           d="m 356.18268,-273.51722 -114,10 282,-3 z"
           id="path10"
           style="fill:#b188a2;stroke:#b188a2;stroke-width:1.50999999" />
        <path
           d="m 524.18268,-266.51722 -282,3 412,3 z"
           id="path14"
           style="fill:#aa8ab8;stroke:#aa8ab8;stroke-width:1.50999999" />
        <path
           d="m 747.18268,-262.51722 -93,2 167,0 z"
           id="path24"
           style="fill:#8569ac;stroke:#8569ac;stroke-width:1.50999999" />
        <path
           d="m 821.18268,-260.51722 -167,0 321,4 z"
           id="path28"
           style="fill:#73569d;stroke:#73569d;stroke-width:1.50999999" />
        <path
           d="m 931.18268,-265.51722 -110,5 154,4 z"
           id="path30"
           style="fill:#634091;stroke:#634091;stroke-width:1.50999999" />
        <path
           d="m 1079.1826,-312.51722 -46,53 66,-16 z"
           id="path34"
           style="fill:#5b3e83;stroke:#5b3e83;stroke-width:1.50999999" />
        <path
           d="m 1022.1826,-335.51722 11,76 46,-53 z"
           id="path50"
           style="fill:#765b9b;stroke:#765b9b;stroke-width:1.50999999" />
        <path
           d="m 1022.1826,-335.51722 -46.99992,79 57.99992,-3 z"
           id="path52"
           style="fill:#674a94;stroke:#674a94;stroke-width:1.50999999" />
        <path
           d="m 959.18268,-338.51722 16,82 46.99992,-79 z"
           id="path56"
           style="fill:#886eb0;stroke:#886eb0;stroke-width:1.50999999" />
        <path
           d="m 879.18268,-276.51722 -58,16 110,-5 z"
           id="path64"
           style="fill:#6f549d;stroke:#6f549d;stroke-width:1.50999999" />
        <path
           d="m 959.18268,-338.51722 -36,30 52,52 z"
           id="path66"
           style="fill:#856eae;stroke:#856eae;stroke-width:1.50999999" />
        <path
           d="m 923.18268,-308.51722 8,43 44,9 z"
           id="path68"
           style="fill:#6c509b;stroke:#6c509b;stroke-width:1.50999999" />
        <path
           d="m 923.18268,-308.51722 -44,32 52,11 z"
           id="path84"
           style="fill:#7865a5;stroke:#7865a5;stroke-width:1.50999999" />
        <path
           d="m 850.18268,-332.51722 29,56 44,-32 z"
           id="path92"
           style="fill:#9589bc;stroke:#9589bc;stroke-width:1.50999999" />
        <path
           d="m 850.18268,-332.51722 -29,72 58,-16 z"
           id="path94"
           style="fill:#8a7eb3;stroke:#8a7eb3;stroke-width:1.50999999" />
        <path
           d="m 792.18268,-310.51722 29,50 29,-72 z"
           id="path100"
           style="fill:#9d93c2;stroke:#9d93c2;stroke-width:1.50999999" />
        <path
           d="m 426.18268,-278.51722 -70,5 168,7 z"
           id="path104"
           style="fill:#b497b5;stroke:#b497b5;stroke-width:1.50999999" />
        <path
           d="m 792.18268,-310.51722 -45,48 74,2 z"
           id="path112"
           style="fill:#8b7ab3;stroke:#8b7ab3;stroke-width:1.50999999" />
        <path
           d="m 578.18268,-273.51722 -54,7 130,6 z"
           id="path116"
           style="fill:#a18bbf;stroke:#a18bbf;stroke-width:1.50999999" />
        <path
           d="m 710.18268,-273.51722 -56,13 93,-2 z"
           id="path118"
           style="fill:#8f76b4;stroke:#8f76b4;stroke-width:1.50999999" />
        <path
           d="m 756.18268,-330.51722 -9,68 45,-48 z"
           id="path124"
           style="fill:#a8a0cb;stroke:#a8a0cb;stroke-width:1.50999999" />
        <path
           d="m 713.18268,-306.51722 -3,33 37,11 z"
           id="path126"
           style="fill:#998dbe;stroke:#998dbe;stroke-width:1.50999999" />
        <path
           d="m 713.18268,-306.51722 34,44 9,-68 z"
           id="path130"
           style="fill:#aca4cd;stroke:#aca4cd;stroke-width:1.50999999" />
        <path
           d="m 484.18268,-275.51722 -58,-3 98,12 z"
           id="path140"
           style="fill:#b39cc1;stroke:#b39cc1;stroke-width:1.50999999" />
        <path
           d="m 646.18268,-309.51722 8,49 56,-13 z"
           id="path146"
           style="fill:#a297c4;stroke:#a297c4;stroke-width:1.50999999" />
        <path
           d="m 646.18268,-309.51722 64,36 3,-33 z"
           id="path152"
           style="fill:#b0a9cf;stroke:#b0a9cf;stroke-width:1.50999999" />
        <path
           d="m 646.18268,-309.51722 -68,36 76,13 z"
           id="path156"
           style="fill:#a99fc9;stroke:#a99fc9;stroke-width:1.50999999" />
        <path
           d="m 574.18268,-312.51722 4,39 68,-36 z"
           id="path166"
           style="fill:#bfbbd9;stroke:#bfbbd9;stroke-width:1.50999999" />
        <path
           d="m 574.18268,-312.51722 -50,46 54,-7 z"
           id="path178"
           style="fill:#b4adce;stroke:#b4adce;stroke-width:1.50999999" />
        <path
           d="m 527.18268,-338.51722 -3,72 50,-46 z"
           id="path180"
           style="fill:#cfcbe3;stroke:#cfcbe3;stroke-width:1.50999999" />
        <path
           d="m 484.18268,-275.51722 40,9 3,-72 z"
           id="path182"
           style="fill:#c5bed9;stroke:#c5bed9;stroke-width:1.50999999" />
        <path
           d="m 470.18268,-335.51722 14,60 43,-63 z"
           id="path184"
           style="fill:#dedae7;stroke:#dedae7;stroke-width:1.50999999" />
        <path
           d="m 470.18268,-335.51722 -44,57 58,3 z"
           id="path194"
           style="fill:#cbbed0;stroke:#cbbed0;stroke-width:1.50999999" />
        <path
           d="m 407.18268,-314.51722 19,36 44,-57 z"
           id="path200"
           style="fill:#dacdd3;stroke:#dacdd3;stroke-width:1.50999999" />
        <path
           d="m 309.18268,-282.51722 -67,19 114,-10 z"
           id="path206"
           style="fill:#b9868f;stroke:#b9868f;stroke-width:1.50999999" />
        <path
           d="m 407.18268,-314.51722 -27,8 46,28 z"
           id="path214"
           style="fill:#d2bec4;stroke:#d2bec4;stroke-width:1.50999999" />
        <path
           d="m 380.18268,-306.51722 -24,33 70,-5 z"
           id="path216"
           style="fill:#c3aab4;stroke:#c3aab4;stroke-width:1.50999999" />
        <path
           d="m 358.18268,-378.51722 22,72 27,-8 z"
           id="path220"
           style="fill:#f0dfd1;stroke:#f0dfd1;stroke-width:1.50999999" />
        <path
           d="m 137.18268,-280.51722 -46.999997,8 151.999997,9 z"
           id="path222"
           style="fill:#af6666;stroke:#af6666;stroke-width:1.50999999" />
        <path
           d="m 358.18268,-378.51722 -44,49 66,23 z"
           id="path226"
           style="fill:#f5ddc7;stroke:#f5ddc7;stroke-width:1.50999999" />
        <path
           d="m 314.18268,-329.51722 42,56 24,-33 z"
           id="path228"
           style="fill:#d7bab6;stroke:#d7bab6;stroke-width:1.50999999" />
        <path
           d="m 314.18268,-329.51722 -5,47 47,9 z"
           id="path232"
           style="fill:#cfaca7;stroke:#cfaca7;stroke-width:1.50999999" />
        <path
           d="m -27.817312,-285.51722 -53.899603,14.93898 171.899598,-1.93898 z"
           id="path236"
           style="fill:#98575b;stroke:#98575b;stroke-width:1.50999999" />
        <path
           d="m 241.18268,-322.51722 68,40 5,-47 z"
           id="path238"
           style="fill:#e2bba7;stroke:#e2bba7;stroke-width:1.50999999" />
        <path
           d="m 241.18268,-322.51722 1,59 67,-19 z"
           id="path248"
           style="fill:#ca9a8f;stroke:#ca9a8f;stroke-width:1.50999999" />
        <path
           d="m 26.182685,-285.51722 -53.999997,0 117.999995,13 z"
           id="path250"
           style="fill:#a3605f;stroke:#a3605f;stroke-width:1.50999999" />
        <path
           d="m 194.18268,-283.51722 -57,3 105,17 z"
           id="path254"
           style="fill:#b67471;stroke:#b67471;stroke-width:1.50999999" />
        <path
           d="m 241.18268,-322.51722 -47,39 48,20 z"
           id="path262"
           style="fill:#c89284;stroke:#c89284;stroke-width:1.50999999" />
        <path
           d="m 202.18268,-338.51722 -8,55 47,-39 z"
           id="path266"
           style="fill:#e1ae92;stroke:#e1ae92;stroke-width:1.50999999" />
        <path
           d="m 134.18268,-306.51722 60,23 8,-55 z"
           id="path270"
           style="fill:#d9a185;stroke:#d9a185;stroke-width:1.50999999" />
        <path
           d="m 152.18268,-383.51722 -18,77 68,-32 z"
           id="path272"
           style="fill:#f2bb8e;stroke:#f2bb8e;stroke-width:1.50999999" />
        <path
           d="m 134.18268,-306.51722 3,26 57,-3 z"
           id="path278"
           style="fill:#c28372;stroke:#c28372;stroke-width:1.50999999" />
        <path
           d="m 98.182683,-339.51722 35.999997,33 18,-77 z"
           id="path282"
           style="fill:#eeb487;stroke:#eeb487;stroke-width:1.50999999" />
        <path
           d="m 134.18268,-306.51722 -43.999997,34 46.999997,-8 z"
           id="path290"
           style="fill:#b9786a;stroke:#b9786a;stroke-width:1.50999999" />
        <path
           d="m 98.182683,-339.51722 -8,67 43.999997,-34 z"
           id="path292"
           style="fill:#cd8f77;stroke:#cd8f77;stroke-width:1.50999999" />
        <path
           d="m 30.182685,-306.51722 59.999998,34 8,-67 z"
           id="path294"
           style="fill:#c68974;stroke:#c68974;stroke-width:1.50999999" />
        <path
           d="m 51.182685,-371.51722 -21,65 67.999998,-33 z"
           id="path302"
           style="fill:#dea581;stroke:#dea581;stroke-width:1.50999999" />
        <path
           d="m 30.182685,-306.51722 -4,21 63.999998,13 z"
           id="path304"
           style="fill:#ad6e65;stroke:#ad6e65;stroke-width:1.50999999" />
        <path
           d="m -29.817311,-328.51722 59.999996,22 21,-65 z"
           id="path308"
           style="fill:#d49c7d;stroke:#d49c7d;stroke-width:1.50999999" />
        <path
           d="m -27.817312,-285.51722 53.999997,0 4,-21 z"
           id="path314"
           style="fill:#ab6e66;stroke:#ab6e66;stroke-width:1.50999999" />
        <path
           d="m -29.817311,-328.51722 1.999999,43 57.999997,-21 z"
           id="path316"
           style="fill:#b77d6f;stroke:#b77d6f;stroke-width:1.50999999" />
        <path
           d="m -29.817311,-328.51722 -25,8 26.999999,35 z"
           id="path320"
           style="fill:#b47e71;stroke:#b47e71;stroke-width:1.50999999" />
        <path
           d="m -54.817311,-320.51722 -25.871128,47.95347 52.871127,-12.95347 z"
           id="path328"
           style="fill:#9e6864;stroke:#9e6864;stroke-width:1.50999999" />
      </g>
      <g
         id="layer1" />
    </g>
  </g>
  <path
     d="m 1.1595311,118.78843 294.9029189,0 -122.37055,-6.67476 -172.73463392,4.44984 z"
     id="path4666"
     style="fill:#b1666a;fill-opacity:1;stroke:none" />
</svg>

</body>




<!--    BBBBBBBBBBBBBBBBB                    hhhhhhh                                                    !-->
<!--    B::::::::::::::::B                   h:::::h                                                    !-->
<!--    B::::::BBBBBB:::::B                  h:::::h                                                    !-->
<!--    BB:::::B     B:::::B                 h:::::h                                                    !-->
<!--    B::::B     B:::::B  aaaaaaaaaaaaa   h::::h hhhhh                                                !-->
<!--    B::::B     B:::::B  a::::::::::::a  h::::hh:::::hhh                             ,@;@,           !-->
<!--    B::::BBBBBB:::::B   aaaaaaaaa:::::a h::::::::::::::hh              ,@;@;@;@;@;@/ )@;@;          !-->
<!--    B:::::::::::::BB             a::::a h:::::::hhh::::::h           ,;@;@;@;@;@;@|_/@' e\          !-->
<!--    B::::BBBBBB:::::B     aaaaaaa:::::a h::::::h   h::::::h         (|@;@:@\@;@;@;@:@(    \         !-->
<!--    B::::B     B:::::B  aa::::::::::::a h:::::h     h:::::h           '@;@;@|@;@;@;@;'`"__'         !-->
<!--    B::::B     B:::::B a::::aaaa::::::a h:::::h     h:::::h            '@;@;/;@;/;@;'               !-->
<!--    B::::B     B:::::Ba::::a    a:::::a h:::::h     h:::::h             ) //   | ||                 !-->
<!--    BB:::::BBBBBB::::::Ba::::a    a:::::a h:::::h     h:::::h           \ \\   | ||                 !-->
<!--    B:::::::::::::::::B a:::::aaaa::::::a h:::::h     h:::::h            \ \\  ) \\  \,//\          !-->
<!--    B::::::::::::::::B   a::::::::::aa:::ah:::::h     h:::::h        /\|  `"`  `"`` |\|\\/\         !-->
<!--    BBBBBBBBBBBBBBBBB     aaaaaaaaaa  aaaahhhhhhh     hhhhhhh        #abrahah#abrabah#abrabah       !-->
</html>
