<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>abrabah</title>
  <meta name="description" content="Personal website">
  <meta name="author" content="Abraham Bah">

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72819908-1', 'auto');
  ga('send', 'pageview');
  </script>

</head>
{{ content }}

<!--    BBBBBBBBBBBBBBBBB                    hhhhhhh                                                    !-->
<!--    B::::::::::::::::B                   h:::::h                                                    !-->
<!--    B::::::BBBBBB:::::B                  h:::::h                                                    !-->
<!--    BB:::::B     B:::::B                 h:::::h                                                    !-->
<!--    B::::B     B:::::B  aaaaaaaaaaaaa   h::::h hhhhh                                                !-->
<!--    B::::B     B:::::B  a::::::::::::a  h::::hh:::::hhh                             ,@;@,           !-->
<!--    B::::BBBBBB:::::B   aaaaaaaaa:::::a h::::::::::::::hh              ,@;@;@;@;@;@/ )@;@;          !-->
<!--    B:::::::::::::BB             a::::a h:::::::hhh::::::h           ,;@;@;@;@;@;@|_/@' e\          !-->
<!--    B::::BBBBBB:::::B     aaaaaaa:::::a h::::::h   h::::::h         (|@;@:@\@;@;@;@:@(    \         !-->
<!--    B::::B     B:::::B  aa::::::::::::a h:::::h     h:::::h           '@;@;@|@;@;@;@;'`"__'         !-->
<!--    B::::B     B:::::B a::::aaaa::::::a h:::::h     h:::::h            '@;@;/;@;/;@;'               !-->
<!--    B::::B     B:::::Ba::::a    a:::::a h:::::h     h:::::h             ) //   | ||                 !-->
<!--    BB:::::BBBBBB::::::Ba::::a    a:::::a h:::::h     h:::::h           \ \\   | ||                 !-->
<!--    B:::::::::::::::::B a:::::aaaa::::::a h:::::h     h:::::h            \ \\  ) \\  \,//\          !-->
<!--    B::::::::::::::::B   a::::::::::aa:::ah:::::h     h:::::h        /\|  `"`  `"`` |\|\\/\         !-->
<!--    BBBBBBBBBBBBBBBBB     aaaaaaaaaa  aaaahhhhhhh     hhhhhhh        #abrahah#abrabah#abrabah       !-->
</html>
